/* Main styles */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f8f9fa;
}

/* Theme switch styles */
.theme-switch-container {
	position: absolute;
	right: 20px;
	top: 15px;
	z-index: 1000;
}

.theme-switch {
	height: 0;
	width: 0;
	visibility: hidden;
}

.theme-switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #2c3e50;
	display: block;
	border-radius: 25px;
	position: relative;
}

.theme-switch-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background: #fff;
	border-radius: 21px;
	transition: 0.3s;
}

/* Dark theme styles */
body.dark {
	background-color: #222;
	color: #fff;
}

.dark .card {
	background-color: #333;
	color: #fff;
}